# openai style
MODEL_NAME=ep-20250205182129-nf5nv
BASE_URL=https://ark.cn-beijing.volces.com/api/v3
API_KEY=daa310ce-9ed1-43f0-9939-f5a7a6bf6348


# ANTHROPIC
ANTHROPIC_BASE_URL=https://cc.585dg.com
ANTHROPIC_API_KEY=sk-a096bd5d46394f6faeabc2a9f4ff4c43